.tipo-movimento-container {
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-row {
    display: flex;
    justify-content: space-between;
    /* Distribuisce titolo e bottone */
    align-items: center;
    margin-bottom: 20px;
}

h2 {
    margin: 0;
    font-size: 24px;
}

.dashboard-button {
    padding: 8px 16px;
    font-size: 14px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dashboard-button:hover {
    background-color: #0056b3;
}

.tipo-movimento-table {
    width: 100%;
    border-collapse: collapse;
}

.tipo-movimento-table th,
.tipo-movimento-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.tipo-movimento-table th {
    background-color: #f1f1f1;
}

.loading,
.error {
    text-align: center;
    font-size: 18px;
}

.icon-positive {
    color: green;
    font-size: 18px;
    margin: 0 auto;
}

.icon-negative {
    color: red;
    font-size: 18px;
    margin: 0 auto;
}